.Header {
    background-color: #edf2f4;
    text-align: center;
    color: #011627;
    padding: 25px;
    box-shadow: #011627 0px 0px 10px;
}

h1 {
    font-size: 3.5em;
    text-shadow: -1px 0px #2b2d42, 0px 1px #2b2d42, 1px 0px #2b2d42, 0px -1px #2b2d42;
}

h3 {

}